<%= form_for @project, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.select :status, @status_list.collect{|c| [c,c]} %>
  </p>
  <p>
    <%= f.label :file %><br />
    <%= f.file_field :rfp %>
  </p>
  <p><%= f.submit %></p>
<% end %>
