<% title "Añadir persona para calificar" %>
<% form_tag :action => :add_assignment do %>
  <strong>Sleccionar persona:</strong>
  <%= select_tag :user_id, options_from_collection_for_select(@users,"id","username") %>

  <p>
    <strong>Aspectos</strong><br/>
    <% @assignments.each do |a| %>
      <%= check_box_tag "assignment[]", a %><%= label_tag a %><br/>
    <% end %>
  <p/>
  <%= submit_tag "Asignar" %>
<% end %>

<p><%= link_to "Lista de RFPs", projects_path %></p>
