<% title "Calificar Proyecto" %>

<p>
  <strong>Nombre:</strong>
  <%= @project.name %>
</p>

<% if can? :grade_cost, @project %>
  <h2><%= image_tag "plus-icon.png", :size => "14x14", :id => "cost_icon" %> Costos</h2>
  <div id="cost_grades">
      <%= form_for @cost_score, :url => 'submit_grade' do |f| %>
      <%= score_fields f, "Costo", :cost, :cost_comment %>
      <%= score_fields f, "Pago", :payment, :payment_comment %>
      <%= score_fields f, "Forma de Pago", :payment_option, :payment_option_comment %>
      <%= f.submit "Evaluar" %>
    <% end %>
  </div>
<% end %>
<% if can? :grade_technology, @project %>
  <h2><%= image_tag "plus-icon.png", :size => "14x14", :id => "tech_icon" %> Aspecto técnico</h2>
  <div id="tech_grades">    
      <%= form_for @tech_score, :url => 'submit_grade' do |f| %>
      <%= score_fields f, "Requerimientos Tecnológicos", :tech_requirements, :tech_requirements_comment %>
      <%= score_fields f, "Recurso Actuales", :actual_resources, :actual_resources_comment %>
      <%= score_fields f, "Recurso Faltantes", :missing_resources, :missing_resources_comment %>
      <%= f.submit "Evaluar" %>
    <% end %>
  </div>
<% end %>
<% if can? :grade_development, @project %>
  <h2><%= image_tag "plus-icon.png", :size => "14x14", :id => "development_icon" %> Aspecto de desarrollo</h2>
  <div id="development_grades">  
      <%= form_for @development_score, :url => 'submit_grade' do |f| %>
      <%= score_fields f, "Alcance", :scope, :scope_comment %>
      <%= score_fields f, "Actividades", :activities, :activities_comment %>
      <%= score_fields f, "Fecha de entrega", :deadline, :deadline_comment %>
      <%= score_fields f, "Conocimiento requerido", :knowledge, :knowledge_comment %>
      <%= score_fields f, "Disponibilidad de los recursos tecnológicos", :technology_availability, :technology_availability_comment %>
      <%= score_fields f, "Disponibilidad de los recursos humanos", :human_availability, :human_availability_comment %>
      <%= score_fields f, "Experiencia", :experience, :experience_comment %>
      <%= f.submit "Evaluar" %>
    <% end %>
  </div>
<% end %>
<% if can? :grade_legal, @project %>
  <h2><%= image_tag "plus-icon.png", :size => "14x14", :id => "legal_icon" %> Aspecto legal</h2>
  <div id="legal_grades">  
      <%= form_for @legal_score, :url => 'submit_grade' do |f| %>
      <%= score_fields f, "Requerimientos Legales", :requirements, :requirements_comment %>
      <%= score_fields f, "Restricciones Legales", :restrictions, :restrictions_comment %>
      <%= score_fields f, "Contratos", :contract, :contract_comment %>
      <%= f.submit "Evaluar" %>
    <% end %>
  </div>
<% end %>
<% if can? :grade_risks, @project %>
  <h2><%= image_tag "plus-icon.png", :size => "14x14", :id => "risk_icon" %> Riesgos</h2>
  <div id="risk_grades">  
      <%= form_for @risk_score, :url => 'submit_grade' do |f| %>
      <%= score_fields f, "Penalidades", :penalties, :penalties_comment %>
      <%= score_fields f, "Probabilidad de cumplimiento", :fulfillment_probability, :fulfillment_probability_comment %>
      <%= f.submit "Evaluar" %>
    <% end %>
  </div>
<% end %>
<% if can? :grade_opportunities, @project %>
  <h2><%= image_tag "plus-icon.png", :size => "14x14", :id => "opportunities_icon" %> Oportunidades</h2>
  <div id="opportunities_grades">
    <%= form_for @opportunity_score, :url => 'submit_grade' do |f| %>
      <%= score_fields f, "Conocimiento adquirido", :adquired_knowledge, :adquired_knowledge_comment %>
      <%= score_fields f, "Importancia del proyecto", :importance, :importance_comment %>
      <%= score_fields f, "Posicionamiento ganado", :positioning, :positioning_comment %>
      <%= f.submit "Evaluar" %>
    <% end %>
  </div>
<% end %>

<%= link_to "Lista de RFPs", projects_path %>
