<% title @project.name %>
<p>
  <strong>Estatus:</strong>
  <%= @project.status %>
</p>
<p>
  <strong>Compañía:</strong>
  <%= @project.company %>
</p>
<p>
  <strong>Puntaje:</strong>
  <%= @project.score.to_f %>
</p>
<p>
  <strong>RFP:</strong>
  <%= link_to "Descargar", @project.rfp.url %>
</p>
<p>
  <strong>Comentario:</strong>
  <%= @project.comment %>
</p>
<% if @project.grades_pending? %>
<p>
  Todavía faltan usuarios por calificar este RFP<br/>
  <%= link_to "Ver usuarios", :action => :pending_users, :id => @project.id %>
</p>
<% else %>
<p>
  <strong> RFPs Similares </strong>
  <ul>
    <% for p in @project.similars %>
    <li> <%= link_to "*" + h(p.name) + "*", p %> </li>
    <% end %>
  </ul>
</p>
<% if not (cost = @project.cost_similars).blank? %>
 <%= render :partial => 'cat_similar', 
            :locals => { :category => "Costo", :projects => cost } %>
<% end %>
<% if not (tech = @project.tech_similars).blank? %>
 <%= render :partial => 'cat_similar', 
            :locals => { :category => "Tecnico", :projects => tech } %>
<% end %>
<% if not (dev = @project.dev_similars).blank? %>
 <%= render :partial => 'cat_similar', 
            :locals => { :category => "Desarrollo", :projects => dev } %>
<% end %>
<% if not (legal = @project.legal_similars).blank? %>
 <%= render :partial => 'cat_similar', 
            :locals => { :category => "Legal", :projects => legal } %>
<% end %>
<% if not (risk = @project.risk_similars).blank? %>
 <%= render :partial => 'cat_similar', 
            :locals => { :category => "Riesgo", :projects => risk } %>
<% end %>
<% if not (opp = @project.opp_similars).blank? %>
 <%= render :partial => 'cat_similar', 
            :locals => { :category => "Oportunidad", :projects => opp } %>
<% end %>

<% end %>
<p>
  <%= link_to "Calificar", :action => 'grade', :id => @project.id %> |
  <%= link_to "Asignar Calificador", :action => 'assignment', :id => @project.id %> |
  <%= link_to "Editar", edit_project_path(@project) %> |
  <%= link_to "Borrar", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Ver todos", projects_path %>
</p>
