<% title "Project" %>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>
<p>
  <strong>Score:</strong>
  <%= @project.score %>
</p>
<p>
  <strong>RFP:</strong>
  <%= link_to "Descargar", @project.rfp.url %>
</p>

<p>
  <%= link_to "Calificar", :action => 'grade', :id => @project.id %> |
  <%= link_to "Asignar Calificador", :action => 'assignment', :id => @project.id %> |
  <%= link_to "Editar", edit_project_path(@project) %> |
  <%= link_to "Borrar", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Ver todos", projects_path %>
</p>
