<% title @project.name %>
<p>
  <strong>Estatus:</strong>
  <%= @project.status %>
</p>
<p>
  <strong>Compañía:</strong>
  <%= @project.company %>
</p>
<p>
  <strong>Puntaje:</strong>
  <%= @project.score.to_f %>
</p>
<p>
  <strong>RFP:</strong>
  <%= link_to "Descargar", @project.rfp.url %>
</p>
<p>
  <strong>Comentario:</strong>
  <%= @project.comment %>
</p>
<% if @project.grades_pending? %>
<p>
  Todavía faltan usuarios por calificar este RFP<br/>
  <%= link_to "Ver usuarios", :action => :pending_users, :id => @project.id %>
</p>
<% else %>
<p>
  <strong> Proyectos Similares </strong>
  <ul>
    <% for p in @similars %>
    <li> <%= link_to "*" + h(p.name) + "*", p %> </li>
    <% end %>
  </ul>
</p>
<p>
  <strong> Tendencias </strong>
  <ul>
    <% @tendencies.each_pair do |k,v| %>
    <li> <%= "% Similares en estado #{k} = #{v*100}%" %> </li>
    <% end %>
  </ul>
</p>
<% end %>
<p>
  <%= link_to "Calificar", :action => 'grade', :id => @project.id %> |
  <%= link_to "Asignar Calificador", :action => 'assignment', :id => @project.id %> |
  <%= link_to "Editar", edit_project_path(@project) %> |
  <%= link_to "Borrar", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Ver todos", projects_path %>
</p>
